@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Creepster&family=Source+Code+Pro&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 280px;
    --font-base: "Bai Jamjuree";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base),sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--color-body);
    transition: all .4s ease;
}

a:hover {
    color: var(--color-brand);
}

img {
    width: 100%;
}

/* Navbar */
.navbar {
    background-color: var(--color-base);
}

.face {
    width:80%;
    height: auto;
    border: 8px solid var(--color-brand) ;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link {
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.664),rgba(3, 63, 71, 0.89)), url(img/sidebar.jpg);
        background-size: cover;
    }

    #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}

/* Navbar end */


/* Content */
    .color-brand {
        color: var(--color-brand);
    }
    .full-height {
        min-height: 100vh;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Home */
    
    .btn-brand {
        background-color: var(--color-brand);
        border-color: var(--color-brand2);
        color: black;
    }
    .btn-brand:hover,
    .btn-brand:focus {
        background-color: var(--color-brand2);
        border-color: var(--color-brand2);
        color: black;
    }

    .link-custom {
        font-weight: 700;
        position: relative;
    }

    .link-custom::after {
        content: "";
        width: 0%;
        height: 2px;
        background-color: var(--color-brand);
        position: absolute;
        left: 0;
        top: 110%;
        transition: all .4s;

    }

    .link-custom:hover::after {
        width: 100%;
    }

    /* Home end */

    /* Services */

    .bg-base {
        background-color: var(--color-base);
    }
    
    .shadow-effect {
        transition: all .4s;
    }

    .shadow-effect:hover {
        box-shadow: -10px -10px 0 0  var(--color-brand);
    }
    

    .iconbox {
        padding: 30px;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 32px;
        background-color: var(--color-brand2);
    }

    /* Services End */

    /* Project */
    #project {
        margin-top: 100px;
    }

    .sizing {
        box-sizing: border-box;
    }

    .shadow-effect2 {
        transition: all .4s;
    }

    .shadow-effect2:hover {
        box-shadow: -8px 8px 0 0  var(--color-brand);
    }

    
    .img-custom-effect {
        overflow: hidden;
    }

    .img-custom-effect img {
        transition: .4s;
    }

    .project:hover .img-custom-effect img{
       
        transform: scale(1.1);
        
    }

    /* Project End */


    /* Contact */
   
    .form-control  {
        background-color: var(--color-base);
        color: white;
        border: 1px solid var(--color-brand);
    }
    

    .form-control::placeholder {
        color: rgba(255, 255, 255, 0.315);
    }

    /* Contact End */
/* content End */